button {
  display: block;
  background-color: crimson;
  color: white;
  font-size: 20px;
  margin: 20px auto;
  padding: 30px 40px;
  border-radius: 50px;
  border: none;
}
button:hover {
  cursor: pointer;
  background-color: rgb(239, 10, 55);
  color: black;
}
.popup-wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.popup {
  border: 2px solid black;
  height: 30vh;
  width: 40vw;
  background-color: white;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}
.close-popup {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: red;
  color: aliceblue;
   position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  cursor: pointer;
}
.popup h2{
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
}
.popup p{
    font-size: 20px;
    text-align: center;
}
.popup a{
    position: absolute;
    background-color: maroon;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    border: none;
    bottom: 0;
    left: 40%;
    font-weight: 600;
   
}

